<div class="chat-container">
    <div class="chat-history">
        <div class="p-5">
            <div *ngFor="let message of chatHistory" class="mb-3">
                <div *ngIf="message.role === 'user'" class="col-8 p-2 rounded bg-primary-subtle bg-gradient">
                    {{ message.content }}
                </div>
                <div *ngIf="message.role === 'assistant'" class="col-8 p-2 rounded bg-success-subtle bg-gradient ms-auto">
                    {{ message.content }}
                </div>
            </div>
        </div>
    </div>

    <!-- input prompt (Fixed at the Bottom) -->
    <div class="col-9 d-flex position-fixed bottom-0 start-0 end-0 p-5 ms-auto">
        <input [(ngModel)]="prompt" type="text" class="form-control" placeholder="Type your message...">
        <button class="btn btn-primary" type="button" (click)="submitPrompt()">Send</button>
    </div>
</div>