<div class="chat-container">
    <div *ngIf="!chat" class="text-center p-5">
        <p class="display-4 text-muted">Create a new chat!</p>
    </div>

    <div *ngIf="chat">
        <div *ngIf="chat.history && chat.history.length === 0; else history" class="text-center p-5">
            <p class="display-4 text-muted">Hey, how can I help you?</p>
        </div>

        <ng-template #history>
            <div class="chat-history">
                <div class="p-5">
                    <div *ngFor="let message of chat.history" class="mb-3">
                        <div *ngIf="message.role === 'user'" class="col-8 p-2 rounded bg-primary-subtle bg-gradient">
                            {{ message.content }}
                        </div>
                        <div *ngIf="message.role === 'assistant'" class="col-8 p-2 rounded bg-success-subtle bg-gradient ms-auto">
                            {{ message.content }}
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>

    <!-- input prompt (Fixed at the Bottom) -->
    <div class="col-9 d-flex position-fixed bottom-0 start-0 end-0 p-5 ms-auto">
        <input [(ngModel)]="prompt" type="text" class="form-control" placeholder="Type your message...">
        <button class="btn btn-primary" type="button" (click)="submitPrompt()" [disabled]="!chat">Send</button>
    </div>
</div>